* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color--home {
  padding: 1.8rem;
  background: #000;
  color: #fff;
}
a {
  color: #fff;
}
.margin--all {
  margin: 1em;
}
.global--padding {
  padding: 2rem;
}

.global--margin {
  margin: 2rem;
}
.border--avatar{
  border: 2px solid tomato;
}